[submodule "liquidator/lib/openzeppelin-contracts"]
	path = liquidator/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.1
[submodule "liquidator/lib/forge-std"]
	path = liquidator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "liquidator/lib/v2-core"]
	path = liquidator/lib/v2-core
	url = https://github.com/Uniswap/v2-core
	branch = v1.0.1
[submodule "liquidator/lib/sentiment-protocol"]
	path = liquidator/lib/sentiment-protocol
	url = https://github.com/lib/sentiment-protocol
[submodule "liquidator/lib/solmate"]
	path = liquidator/lib/solmate
	url = https://github.com/rari-capital/solmate
